@import "../../../general/variables"

.detalhe_paciente_container
  h4
    margin: 0
    color: #7D7D7D
    font-weight: 500
    font-size: 22px
    text-transform: uppercase
  h3
    margin: 0
    color: #b2b2b2
    text-transform: uppercase
    font-weight: 400